<%= @schedule.name %>

<h2>Optimal Schedule</h2>
<p>
  Based on the projects you've provided, the following schedule will maximize the number of projects you can complete, assuming there can be no overlap between projects.
</p>
<table>
  <thead>
    <th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>
  </thead>
  <tbody>
    <% @schedule.optimal.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.start_date %></td>
        <td><%= project.end_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to "Add Potential Project to Schedule", new_schedule_project_path(@schedule) %>
<br>
<%= link_to "All Schedules", schedules_path %>
